body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}



/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
  padding-bottom: 0%;
}

#title .container-fluid {
  padding: 3% 10% 0%;
}




/* Pricing Section */
.price-img {
  margin-bottom: 20px;
  height: 70%;
  width: 75%;
}

#pricing {
  padding: 50px 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* -------button Off-Canvass----- */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ef8172;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .price-img {
  margin-bottom: 20px;
  border-radius: 25px;
  height: 30%;
  width: 55%;
}

.sidenav h3 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav h3 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav h3:hover {
  color: black;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  color: white;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* CTA Section */

.container-fluid .pets {
  position: relative;
  padding-top: 10%;
}

.pets img {
  position: relative;
  top: 30px;
}


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  .pets img {
    height: 220px;
    width: 480px;
  }
}